.loaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;

    .loader {
        width: 50;
        height: 50px;
        border: 5px solid rgba(0, 0, 0, 0.1);
        border-top-color: #3f8cff;
        border-radius: 50%;
        animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }
}