@use "../../../styles/variables.scss" as *;

.whyWe {
    // text-align: center;

    h2 {
        font-family: "Ferry";
        font-weight: 900;
        font-size: 45px;
        margin-bottom: 70px;
    }

    .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        .arrow {
            cursor: pointer;
        }

        .cardsContainer {
            display: flex;
            gap: 30px;
        }

        .card {
            // flex: 0 0 400px;
            height: 225px;
            width: 400px;
            padding: 30px 20px;
            border-radius: 10px;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.05);

            img {
                width: 64px;
                margin-bottom: 19px;
            }
        }
    }
}