// Цвета
$color-primary: #029491;
$color-text: #000000;
$color-background: #FFFFFF;
$color-accent-light-blue: #7CE3E1;
$color-accent-orange: #FFB64F;
$color-accent-blue: #5970FF;

$transparent-text: 40%;

//Шрифты 
$font-main: "Inter", sans-serif;
$font-secondary: "Ferry", sans-serif;
$font-size-base: 18px;
$font-weight-base: 400;

$border-radius-btn: 5px;