@use "../../styles/variables" as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 14px;
    position: relative;
}

.header__nav {
    display: flex;
    gap: 49px;
}

.header__right {
    display: flex;
    align-items: center;
}

.burgerBtn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}

.burgerBtn__line {
    width: 100%;
    height: 5px;
    background-color: $color-primary;
    transition: 0.3s;
}

.auth {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.auth__divider {
    width: 2px;
    height: 26px;
    background-color: $color-primary
}

.transparentText {
    opacity: $transparent-text;
    letter-spacing: 1%;
}

.auth__login {
    padding: 5px 12px;
    border-radius: $border-radius-btn;
    color: $color-text;
    background-color: $color-accent-light-blue;
    font-weight: 500;
}

.auth__logout {
    display: grid;
    grid-template-areas: "username avatar"
        "logout avatar";
    gap: 4px;
}

.auth__username {
    grid-area: username;
    opacity: 70%;
}

.auth__avatar {
    grid-area: avatar;
}

.auth__logoutBtn {
    grid-area: logout;
    font-size: 10px;
    opacity: $transparent-text;
    text-align: end;
}

.limitPanel {
    position: absolute;
    right: 15%;
    border-radius: $border-radius-btn;
    background-color: #D9D9D9;
    font-size: 10px;
    width: 175px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.limitPanel__loader {
    width: 24px;
    height: 24px;
    border: 3px solid #ccc;
    border-top-color: #00bcd4;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.limitPanel__green {
    color: #8AC540;
    font-size: 14px;
    font-weight: 700;
    opacity: 100%;
}

.limitPanel__black {
    font-size: 14px;
    font-weight: 700;
    opacity: 100%;
}

.mobileMenuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: end;
}

.mobileMenu {
    width: 280px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    background-color: #fff;

    .header__nav {
        a {
            display: block;
            padding: 20px 0;
            font-size: 18px;
        }
    }
}

@media (max-width: 1023px) {
    .header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .limitPanel {
        right: 5%;
        top: 80%;
    }
}

@media (max-width: 767px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__logo {
        img {
            width: 120px;
            height: auto;
        }
    }

    .header__nav {
        display: none;
    }

    .burgerBtn {
        display: flex;
    }

    .auth {
        display: none;
    }

    .auth__logout {
        display: none;
    }

    .limitPanel {
        right: 25%;
        top: 20%;
        font-size: 8px;
        width: auto;
        padding: 10px;

    }

    .mobileMenu {
        .header__nav {
            display: block;
        }

        .auth {
            display: flex;
            flex-direction: column;
        }

        .auth__logout {
            display: block;
        }
    }
}