@use "../../styles/variables.scss" as *;

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    background-color: $color-primary;

    .right {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        text-align: right;
        color: #fff;

        p {
            font-size: 14px;
            margin: 4px 0;
        }

        .copyrightText {
            margin-top: 21px;
            font-size: 12px;
        }
    }
}

@media (max-width: 1023px) {
    .footer {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (max-width: 767px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px;
    }
}